body {font-family: sans-serif;}

td { border-style: solid;
     border-width: 2px;
     border-color: blue;
     padding: 4px 4px 2px 4px;
     font-weight: bold;
}
td.depleated { 
    background-color: red;
    color: lightgray;
}

input.signline {
    width: 500px;
}

div.signface {
    padding-top: 30px;
}